
p {
    color:black;
    text-align: center;
}
/* page background colour*/
body {
    background-color: #c49c4d;
}

/* background for the top navigation */
.top-nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    overflow: hidden;
}

/* styling the links inside the navigation bar*/
.top-nav-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

button{
    display: block;
    margin: auto;
    width: 10%;
}

table, th, td{
    border: 1px solid white;
    color: white;
    margin: auto;
}

.loader {
    width: 120px;
  height: 20px;
  background:
   linear-gradient(#000 0 0) 0/0% no-repeat
   #ddd;
  animation: l1 2s infinite linear;
}
@keyframes l1 {
    100% {background-size:100%}
}