h1, h2 { 
    color:rgb(94, 253, 253);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

p {
    color:#51b2b5;
    text-align: center;
}

body {
    background-color:#243547;
}

img{
    display: block;
    margin: auto;
    width: 75%;
}

button{
    display: block;
    margin: auto;
    width: 10%;
}

table, th, td{
    border: 1px solid white;
    color: white;
    margin: auto;
}

.loader {
    width: 120px;
  height: 20px;
  background:
   linear-gradient(#000 0 0) 0/0% no-repeat
   #ddd;
  animation: l1 2s infinite linear;
}
@keyframes l1 {
    100% {background-size:100%}
}