
p {
    color:black;
    text-align: center;
}
/* page background colour*/
body {
    background-color: white;
    margin: 0;
    font-family: 'courier';
}

/* background for the top navigation */
.top-nav-bar {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    background-color: black;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%
}

/* styling the links inside the navigation bar*/
.top-nav-bar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace;
}
/* author name on the left hand side in progress*/
.author-name {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 17px;
    align-self: center;
    margin-left: 20px;
    margin-right: auto;
}

.top-nav-bar a:hover {
    color: #c49c4d
}

.first-page-content {
    display: flex;
    align-items:center;
    background-color:#c49c4d;
    padding: 100px 100px;
    
}

.welcome-message p{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #e9ce98ff;
    padding: 100px 15px;
    font-family: 'Courier';
}

.footer {
    display:flex;
    justify-content: center;
    background-color: black;
    padding: 14px 20px;
}

.first-page-aboutme {
    display:flex;
    background-color: white;
    padding: 100px 30px;
    justify-content: center;
    flex-direction: column;
}

.first-page-projects {
    padding: 100px 30px
}

.first-page-resume {
    display:flex;
    background-color: #323232;
    padding:100px 30px;
}

.first-page-resume p{
    color: white;
}

.first-page-contact  {
    display:flex;
    background-color: #c49c4d;
    padding:100px 30px;
}

.footer p {
    color: white;
}