
p {
    color:black;
    text-align: center;
}
/* page background colour*/
body {
    background-color: white;
    margin: 0;
}

/* background for the top navigation */
.top-nav-bar {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* styling the links inside the navigation bar*/
.top-nav-bar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace;
}
/* author name on the left hand side in progress*/
.author-name {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 17px;
    align-self: center;
}

.top-nav-bar a:hover {
    color: #c49c4d
}

.first-page-content {
    display: flex;
    align-items:center;
    background-color:#c49c4d;
    padding: 100px 30px;
    
}

.welcome-message p{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #e9ce98ff;
    padding: 100px 30px;
    font-family: 'Courier';
}